#mini_task{

    -fx-border-style: solid;
    -fx-font-size: 20;
    -fx-border-radius :  25;
    -fx-background-insets: 5;
    -fx-padding : 50;
    -fx-font-family: 'Inter';
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-line-height: normal;
    -fx-border-insets: 2;
}