@font-face {
    font-family: 'Inter-Bold';
    src: url("com/example/todolist/View/Font/Inter-Bold.ttf");
}
#TaskNameLabel {
    -fx-display: flex;
    -fx-width: 313px;
    -fx-height: 32px;
    -fx-flex-direction: column;
    -fx-justify-content: center;
    -fx-flex-shrink: 0;
    -fx-text-fill: rgba(27, 43, 65, 0.69);
    -fx-font-family: 'Inter';
    -fx-font-size: 14px;
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-line-height: normal;
}
#TaskNameInfo{
    -fx-display: flex;
    -fx-width: 314px;
    -fx-height: 36px;
    -fx-justify-content: center;
    -fx-align-items: center;
    -fx-flex-shrink: 0;
    -fx-text-fill: rgba(25, 39, 57, 0.94);
    -fx-font-family: 'Inter';
    -fx-font-size: 16px;
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-line-height: 22px;
    -fx-background-color: rgba(26, 56, 96, 0.1);
    -fx-background-radius: 4px;
}
#TaskDescriptionLabel{

    -fx-display: flex;
    -fx-width: 312px;
    -fx-height: 14px;
    -fx-flex-direction: column;
    -fx-justify-content: center;
    -fx-flex-shrink: 0;
    -fx-text-fill: rgba(33, 33, 33, 0.69);
    -fx-font-family: 'Inter';
    -fx-font-size: 14px;
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-line-height: normal;
}
#TaskDescriptionInfo{
    -fx-text-fill: rgba(33, 33, 33, 0.69);
    -fx-alignment: top-left;
    -fx-font-family: 'Inter';
    -fx-font-size: 16px;
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-line-height: 22px;
    -fx-background-color: rgba(26, 56, 96, 0.1);
    -fx-background-radius:4px;
}
#Informations{
    -fx-text-fill: rgba(25, 39, 57, 0.94);
    -fx-font-family: 'Inter';
    -fx-font-size: 14px;
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-line-height: 22px;
    -fx-background-color: rgba(26, 56, 96, 0.1);
    -fx-background-radius: 4px;
}